<!DOCTYPE html>
<html>
<head>
  <title>Todolist</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if notice %>
  <p class="alert"><%= notice %></p>
<% end %>

<% if alert %>
  <p class="alert"><%= alert %></p>
<% end %>

<% if user_signed_in? %>
  <p>
    Welcome <%= current_user.email %> |
    <%= link_to "Your lists", lists_path %> |
    <%= link_to "Edit profile", edit_user_registration_path %> |
    <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
  </p>
    
<% else %>
  <p>
    <%= link_to "Signin", new_user_session_path %> |
    <%= link_to "Signup", new_user_registration_path %>
  </p>
<% end %>

<hr />

<%= yield %>

</body>
</html>
